.main-wrap {
  align-items: start;
  height: 100vh;
  background: black;
  color: white;
  position: relative;
  .top-content {
    position: absolute;
    top: 50px;
    h1 {
      font-size: 5rem;
      background: linear-gradient(90deg, #ff4b1f, #ff9068, blue, indigo);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      line-height: 80px;
    }
    h2 {
      font-size: 2rem;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .cards {
    gap: 20px;
    .card {
      cursor: pointer;
      width: 180px;
      height: 180px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      position: relative;
      p {
        font-size: 0.8rem;
        max-width: 80%;
        position: absolute;
        top: 20px;
        left: 20px;
      }
      button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: black;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        color: white;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    .card:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .input-wrap {
    position: absolute;
    bottom: 50px;
    width: 600px;
    height: 50px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    input {
      width: 530px;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      color: white;
      padding-left: 20px;
      position: absolute;
      left: 0;
    }
    button {
      width: 50px;
      height: 50px;
      border: none;
      background: transparent;
      outline: none;
      color: white;
      font-size: 1.2rem;
      transition: 0.3s;
      cursor: pointer;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .side-bar {
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #111;
    transition: 0.3s;
    .bars {
      width: 30px;
      height: 30px;
      position: absolute;
      right: -50px;
      gap: 3px;
      top: 20px;
      cursor: pointer;
      div {
        width: 30px;
        height: 1.5px;
        background: white;
      }
    }
    .logo {
      position: absolute;
      top: 20px;
      img {
        width: 100%;
      }
    }
    .sample-chat {
      gap: 10px;
      .chat-card {
        height: 40px;
        width: 120%;
        max-height: 60%;
        overflow: scroll;
        justify-content: start;
        gap: 10px;
        background: rgba(255, 255, 255, 0.1);
        padding-left: 10%;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
      }
      .chat-card:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
    .icons {
      position: absolute;
      right: -50px;
      bottom: 50px;
      gap: 10px;
      .icon {
        width: 40px;
        height: 40px;
        border: 1px solid #80808090;
        border-radius: 10px;
        cursor: pointer;
      }
      .icon:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
